/******* Colors ******/
/*
 * #006BA6
 * #0496FF
 * #FFBC42
 * #D81159
 * #8f2D56
 */

/******* Fonts *******/
@font-face { font-family: FuturaRoundBold; src: url('Futura Round Bold.ttf'); }
@font-face { font-family: FuturaStdBold; src: url('FuturaStd Bold.ttf'); }
@font-face { font-family: LiberationSans; 
  src: url('LiberationSans-Regular.ttf'); }
@font-face { font-family: LiberationSans; font-weight: bold;
  src: url('LiberationSans-Bold.ttf'); }


html, body {
  margin: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: FuturaStdBold;
}


/****** Header ******/
header {
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  justify-content: center;
}

div#header-interior {
  width: 60%;
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 3em;
}

header nav {
  margin: 0;
  padding: 5px 0;
}

header nav a:first-child {
  padding-left: 0;
}

header nav a {
  font-family: FuturaStdBold;
  text-decoration: none;
  color: black;
  padding: 0 20px;
  font-size: 1.25em;
}

header nav a:hover {
  color: #D81159;
}

header nav#sites {
  height: 0;
  padding: 0;
  z-index: -1;
  transition: .5s;
}


/****** Main ******/
main {
  background-color: #ffffff;
  height: 100%;
  font-family: LiberationSans;
}

div.gallery {
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.gallery#g1 {
  background-image: url('../media/tai-kwun-1.jpg');
  z-index: 10;
}

div.gallery#g2 {
  background-image: url('../media/tai-kwun-2.jpg');
}

div.gallery#g3 {
  background-image: url('../media/tai-kwun-3.jpg');
}

div.gallery#g4 {
  background-image: url('../media/tai-kwun-4.jpg');
}


div.colored-section {
  padding: 20px 20%;
  margin: 0;
  color: #ffffff;
}

div.colored-section.cs-1 {
  background-color: #006BA6;
}

div.colored-section.cs-2 {
  background-color: #0496FF;
}

div.colored-section.cs-3 {
  background-color: #FFBC42;
}

div.colored-section.cs-4 {
  background-color: #D81159;
}

div.colored-section a.in-text-link {
  text-decoration: none;
  color: #dddddd;
  font-weight: bold;
}

div.colored-section a.in-text-link:hover {
  color: #D81159;
}

div.colored-section.cs-4 a.in-text-link:hover {
  color: #0496FF;
}

h2.center {
  text-align: center;
}

div.box-link-holder {
  display: flex;
  justify-content: center;
}

a.box-link {
  border: 4px solid white;
  padding: 20px;
  margin: 20px;
  width: 150px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: FuturaStdBold;
}

a.box-link:hover {
  background-color: #ffffff;
  color: #0496ff;
}

main img {
  width: 100%;
}


/****** Mobile ******/
@media screen and (max-width: 800px) {
  div#header-interior {
    width: 100%;
  }
  
  header div h1 {
    font-size: 2em;
  }
  
  header nav a {
    font-size: 1em;
    padding: 5px;
  }
  
  div.colored-section {
    padding: 20px 20px;
  }
  
  div.gallery {
    height: 200px;
    background-position: center;
  }
  
  div.box-link-holder {
    flex-direction: column;
    align-items: center;
  }
}
